:host .mat-form-field{
  width:100%;
}

/* Tasks CSS */
.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/*  */

.box{
  display: grid;
  grid-auto-flow: column;
  grid-column-gap:10px ;
}

.tasks-title{
  text-align: center;
  font-family: Broadway;
  margin: 1px;
  padding: 1px;
  /* background: rgb(2,0,36); */
  background: linear-gradient(270deg, #020024, #090979, #072d90, #0565b5, #0394d4, #00d4ff);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
  border-radius: 4% 96% 4% 96% / 97% 3% 97% 3% ;
  color: antiquewhite;
}
.inProgress-title{
  text-align: center;
  font-family: Broadway;
  margin: 1px;
  padding: 1px;
  background: linear-gradient(120deg, #833ab4, #a3328d, #d42750, #fd1d1d, #fd4f2b, #fcb045);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
  border-radius: 4% 96% 4% 96% / 97% 3% 97% 3% ;
  color: antiquewhite;
}
.done-title{
  text-align: center;
  font-family: Broadway;
  margin: 1px;
  padding: 1px;
  background: linear-gradient(270deg, #eeaeca, #e3b0ce, #d4b2d3, #c7b4d7, #afb7e0, #94bbe9);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
  border-radius: 4% 96% 4% 96% / 97% 3% 97% 3% ;
  color: #2A2327;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes AnimationName {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
