<div class="container-fluid">
  <div class="row">
    <!--* left section -->
    <div class="col-3" style="background: #2A2723;height:93vh;">
      <div>
        <mat-card class="mt-3">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task Name</mat-label>

              <input formControlName="item" matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint: Do Homework</mat-hint>
            </mat-form-field>
            <button mat-button [disabled]="todoForm.invalid" color="accent">Add</button>
          </form>
        </mat-card>
      </div>
    </div>

    <!--* right section -->
    <div class="col-9">

      <div cdkDropListGroup>
        <div class="example-container">
          <h2>To do</h2>

          <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Done</h2>

          <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
